.button {
  color: #EFEFEB;
  padding: 9px 20px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  transition: all 0.2s linear;

  &.download {
    width: 60%;
    padding: 12px 20px;
    position: relative;
    .mac {
      position: absolute;
      top: 22px;
      left: 22px;
      font-size: 25px;
      color: darken(#45A565, 20%);
    }
    strong {
      text-transform: uppercase;
      display: block;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &.green {
    background: #45A565;
    border: solid darken(#45A565, 25%);
    border-width: 1px 1px 3px;
    &:hover {
      border: solid darken(#45A565, 15%);
      border-width: 1px 1px 3px;
    }
  }

  &.grey {
    background: #95a5a6;
    border: solid darken(#95a5a6, 25%);
    border-width: 1px 1px 3px;
    &:hover {
      border: solid darken(#95a5a6, 15%);
      border-width: 1px 1px 3px;
    }
  }
}

// Media queries
@media (max-width: 820px) {
  .hero {
    min-height: 670px;
    .container {
      .value-prop {
        position: static;
        top: 10%;
        text-align: center;
        h1 {
          max-width: 700px;
          clear: both;
          font-size: 26x;
          margin: 12% auto 20px;
        }
      }
    }
    .desktop.screenshot {
      width: 90%;
      overflow: hidden;
      img {
        max-width: 1000px;
        width: 100%;
        float: none;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1280px) {
  .marketing {
    min-height: 600px;
  }
  .hero {
    .value-prop {
      h1 {
        max-width: 480px;
        font-size: 30px;
        margin: 35% auto 20px;
        padding: 0;
      }
      h3 {
        max-width: 480px;
        margin: 0 auto 30px;
        padding: 0;
      }
    }
  }
  #main {
    .testimonials {
      .testimonial {
        width: 100%;
        max-width: 480px;
        margin-right: 0;
      }
    }
    .features {
      max-width: 860px;
      .feature {
        max-width: 800px;
        margin: 5% 0 2% calc(10px + 5%);
        display: block;
        h3 {
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
    }
    #timeline {
      position: relative;
      float: left;
      width: 5px;
      height: 330px;
      margin: calc(30px + 5%) 5% 30px 0;
      .step#step-1 {
        left: -13px;
      }
      .step#step-2 {
        top: 50%;
        margin-top: -15px;
      }
      .step#step-3 {
        top: initial;
        left: -13px;
        right: initial;
        bottom: -15px;
      }
    }
  }
}

@media (max-width: 479px) {
  #topbar {
    #logo {
      font-size: 22px;
      width: 110px;
    }
  }
  #topbar {
    .secondary {
      a {
        display: none;
      }
      .login {
        display: inline-block;
        width: 60%;
      }
    }
  }
  .hero {
    .container {
      .value-prop {
        h1 {
          font-size: 24px;
          line-height: 30px;
          margin: 22% auto 16px;
        }
      }
    }
  }
  #timeline {
    display: none;
  }
}
